/*Header*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}
.top_narbar{
    background-color: white;
}
.group{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    margin-top: 77px;
    max-width: 1000px;
    z-index: 1;
}
.hr{
    max-width: 10px;
}
/*Main*/
.def{
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    background-color: rgb(245, 243, 243);
    text-align: center;
    font-weight: 600;
}
/* List Groups*/ 
.group_image{
    border-radius: 10px;
    max-width: 300px;
    height: 150px;
}
.list_groups{
    max-width: 600px;
    padding-top: 250px;
}
/*footer*/
footer{
    position: relative;
    z-index: 1;
}
.footer{
    background-color: rgb(39, 36, 36);
    color: white;
    
}
.get_started{
    border: 1px groove #e0dcdd;
    background-color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.get{
    display: flex;
}
