.main{
    display: flex;
    justify-content: center;
    height: 1000px;
}
.main_form{
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    text-align: center;
}
.form_login{
    display: flex;
    justify-content: center;
}
.form-control{
    width: 350px;
}
.btn{
    color: white;
    background-color: rgb(202, 73, 73);
    width: 350px;
    border-radius: 10px;
}
.hr{
    display: flex;
    justify-content: center;
}
/*fb, Tw, GG*/
.button_login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn_a{
    border: 1px groove #e0dcdd;
    background-color: white;
    width: 350px;
    height: 60px;
    border-radius: 5px;
}
/*footer*/
.footer{
    background-color: rgb(39, 36, 36);
    color: white;
}
.get_started{
    border: 1px groove #e0dcdd;
    background-color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.get{
    display: flex;
}
.form{
    display: flex;
    height: 800px;
    width: 484px;
    background-color: white;
    border: 1px groove gray;
    margin: auto;
    border-radius: 10px; 
}